.home-page {
  height: 120vh;
  background: var(--background);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.home-page::after {
  content: "";
  width: 700px;
  height: 700px;
  background: var(--background-variant);
  box-shadow: var(--box-shadow);
  position: absolute;
  overflow-x: hidden;
  top: 50px;
  right: -400px;
  transform: rotate(45deg);
  z-index: -1;
}
.home-page .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-page .container .content .head-title {
  color: var(--dark);
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}
.home-page .container .content .head-title span {
  font-family: inherit;
  color: var(--primary);
  text-transform: capitalize;
}
.home-page .container .content .sub-title {
  margin: 20px 0 40px;
  font-size: 18px;
  color: var(--dark);
  width: 450px;
}
.home-page .container .content .download-box .content-box {
  display: flex;
  align-items: center;
}
.home-page .container .content .download-box .content-box .box {
  width: 170px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.home-page .container .content .download-box .content-box .box:first-child {
  margin-right: 20px;
}
.home-page .container .content .download-box .content-box .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-page .container .content .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.home-page .container .content .image-box img {
  width: 100%;
  object-fit: cover;
}
.home-page .form-container {
  position: absolute;
  bottom: 250px;
  /*150*/
  left: 190px;
  /*200*/
  width: 830px;
  padding: 20px;
  background: var(--background-variant);
  box-shadow: var(--box-shadow);
  display: flex;
  border-radius: 10px;
}
.home-page .form-container .input-group {
  width: 300px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}
.home-page .form-container .input-group .input-sub-group {
  display: flex;
  justify-content: space-between;
}
.home-page .form-container .input-group .input-sub-group input {
  width: 44%;
  color: var(--dark);
}
.home-page .form-container .input-group input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.home-page .form-container .input-group input:valid {
  outline: none;
}
.home-page .form-container .input-group input::placeholder {
  color: var(--dark);
  text-transform: capitalize;
}
.home-page .form-container .form-button {
  height: 50px;
  width: 150px;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--background);
  font-size: 34px;
  font-weight: 700;
  font-family: var(--font-sub-title);
  cursor: pointer;
  transition: all 300ms ease;
}
.home-page .form-container .form-button:hover {
  background: var(--primary-variant);
}

@media (max-width: 1050px) {
  .home-page {
    justify-content: center;
    align-items: center;
  }
  .home-page .container {
    flex-direction: column;
    justify-content: center;
  }
  .home-page .container .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-page .form-container {
    display: none;
  }
}
@media (max-width: 510px) {
  .home-page {
    min-height: 0vh;
    height: 100%;
  }
  .home-page .container .content .head-title {
    font-size: 32px;
    line-height: 32px;
  }
  .home-page .container .content .sub-title {
    font-size: 14px;
    width: 100%;
  }
  .home-page .container .content .download-box .content-box .box {
    width: 120px;
    height: 35px;
    border-radius: 5px;
  }
  .home-page .container .content .image-box {
    width: 300px;
    height: 300px;
  }
}
