.suggest-page {
    background: var(--background);
    overflow-x: hidden;

    .container {
        display: flex;
        justify-content: space-between;

        .box {
            width: 500px;
            height: 500px;

            .head-title {
                font-size: 48px;
                line-height: 46px;
                font-weight: 800;
                color: var(--dark-variant);
                margin-bottom: 10px;
            }

            .sub-title {
                font-size: 16px;
                font-family: var(--font-sub-title);
                line-height: 18px;
                margin-bottom: 20px;
                color: var(--dark);
            }

            .car-name {
                font-size: 18px;
                color: var(--secondary);
                font-weight: 600;
                text-transform: capitalize;
            }

            .superiority-box {
                margin-bottom: 20px;

                .items {
                    color: var(--dark);
                    margin: 10px 0;
                }

                .items i {
                    color: var(--primary);
                    margin-right: 10px;
                }
            }

            &:nth-child(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            .background {
                width: 400px;
                height: 450px;
                background: var(--primary-variant);
                border-radius: 20px;
                position: absolute;
                z-index: 1;

                &::after {
                    content: '';
                    width: 150px;
                    height: 150px;
                    position: absolute;
                    bottom: -20px;
                    right: -20px;
                    background-color: var(--background-variant);
                    border-radius: 10px;
                    box-shadow: var(--box-shadow);
                    z-index: 1;
                    animation: loop_up ease 3s infinite;
                }

                &::before {
                    content: '';
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: -40px;
                    left: -40px;
                    background-color: var(--background-variant);
                    border-radius: 10px;
                    box-shadow: var(--box-shadow);
                    z-index: 1;
                    animation: loop_up ease 5s infinite;
                }
            }

            .image-box {
                position: absolute;
                z-index: 2;
                width: 500px;
                height: 500px;
            }

            .image-box img {
                width: 130%;
                height: 90%;
                object-fit: contain;
            }
        }
    }
}

@media(max-width:1050px) {
    .suggest-page {
        .container {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

            .box {
                display: flex;
                flex-direction: column;
                width: 350px;
                height: 500px;

                .head-title {
                    font-size: 32px;
                }

                .sub-title {
                    font-size: 14px;
                }

                .car-name {
                    font-size: 16px;
                }

                .superiority-box {
                    .item {
                        font-size: 14px;
                    }
                }

                &:nth-child(2) {
                    transform: scale(.7);
                }
            }
        }
    }
}

@media(max-width:420px) {

    .suggest-page {
        .container {
            .box {
                width: 100%;

                &:nth-child(2) {
                    transform: scale(.6);
                }
            }
        }
    }
}
